.course {
    margin: clamp(3.125rem, 2.199rem + 4.63vw, 6.25rem) 0;
    
    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 60px;
    } 
    

    
    &__content {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    
    &__title {
      color: #262626;
      font-size: clamp(1.75rem, 1.565rem + 0.93vw, 2.375rem);
      font-weight: 600;
    }
    
    &__text {
      font-size: clamp(0.875rem, 0.838rem + 0.19vw, 1rem);
      color: #59595A;
    }
    
    &__btn {
      margin-left: auto;
      padding: 14px 20px;
      background-color: #fff;
      border: 1px solid #F1F1F3;
      border-radius: 8px;
      
      button {
        background-color: transparent;
      }
      
      @media (max-width: 886px) {
        margin-left: 0;
        width: max-content;
      }
    }
    
    &__cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      
      @media (max-width: 786px) {
        grid-template-columns: 1fr;
      }
    }
    
    &__card {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 40px;
      background-color: #fff;
      border-radius: 10px;
      
      img {
        width: 100%;
      }
    }
    
    &__num {
      font-size: clamp(3.125rem, 2.94rem + 0.93vw, 3.75rem);
      font-weight: 600;
      margin-left: auto;
    }
    
    &__card-title {
      font-size: 20px;
      font-weight: 600;
      color: #333333;
    }
    
    &__card-text {
      color: #4C4C4D;
      font-size: clamp(0.875rem, 0.838rem + 0.19vw, 1rem);
      line-height: 1.5;
    }
    
    &__card-content {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    
    &__mid {
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      @media (max-width: 500px) {
        flex-direction: column;
        align-items: start;
        gap: 14px;
      }
    }
    
    &__btns {
      display: flex;
      align-items: center;
      gap: 10px;
      
      button {
        padding: 8px 14px;
        background-color: #fff;
        border: 1px solid #F1F1F3;
        border-radius: 8px;
        font-size: 14px;    
      }
    }
    
    &__author {
      p {
        font-size: 16px;
        color: #262626;
      }
    }
    
    &__main-btn {
      margin-top: auto;
      
      button {
        width: 100%;
        padding: 14px 0;
        border-radius: 6px;
        background-color: #F7F7F8;
        font-size: 14px;
        font-weight: 600;
      }
    }  
  }
  