.qa{
    margin: clamp(3.125rem, 2.199rem + 4.63vw, 6.25rem) 0;
    &__wrapper{
        display: grid;
        grid-template-columns: .5fr 1fr;
        background-color: #fff;
        padding: clamp(1.5rem, 0.463rem + 5.19vw, 5rem);
        @media (max-width:786px) {
            grid-template-columns: 1fr;
            gap: 40px;
        }
    }
    &__top{
    }
    &__title{
        font-size: clamp(1.75rem, 1.565rem + 0.93vw, 2.375rem);
    }
    &__acc{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-size: clamp(1rem, 0.963rem + 0.19vw, 1.125rem);
    }
    &__left{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
    &__right{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }
    &__left__content{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__bg{
        p{
            border: 1px solid #F1F1F3;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #F7F7F8;
            padding: 14px;
            border-radius: 6px;
        }
    }
}
.MuiPaper-root {
    padding: 20px;
}