* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #f7f7f8;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.glob__btn {
  padding: 14px 20px;
  background-color: #fff;
  border: 1px solid #f1f1f3;
  border-radius: 8px;
  button {
    background-color: transparent;
  }
  @media (max-width: 886px) {
    width: max-content;
  }
}

.glob__title {
  color: #262626;
  font-size: clamp(1.75rem, 1.565rem + 0.93vw, 2.375rem);
  font-weight: 600;
}

.glob__text {
  font-size: clamp(0.875rem, 0.838rem + 0.19vw, 1rem);
  color: #59595a;
}

.sub__btn {
  margin-top: auto;
}
.sub__btn button{
  width: 100%;
  padding: 14px 0;
  border: 1px solid #F1F1F3;
  border-radius: 6px;
  background-color: #f7f7f8;
  font-size: 14px;
  font-weight: 600;
}

.glob__top {
      display: grid;
      grid-template-columns: 2fr 1fr;
      align-items: center;
      
    }  
    @media (max-width: 886px) {
      .glob__top{
        grid-template-columns: 1fr;
        gap: 10px;
      }
    }