.benefits{
    margin: clamp(3.125rem, 2.199rem + 4.63vw, 6.25rem) 0;
    &__wrapper{
        display: flex;
        flex-direction: column;
        gap: 60px;
    } 

    &__content{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    
    &__cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        @media (max-width:786px) {
            grid-template-columns: 1fr ;
        }
    }
    &__card{
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 40px;
        background-color: #fff;
        border-radius: 10px;
    }
    &__num{
        font-size: clamp(3.125rem, 2.94rem + 0.93vw, 3.75rem);
        font-weight: 600;
        margin-left: auto;
    }
    &__card-title{
        font-size:20px;
        font-weight: 600;
        color: #333333;
    }
    &__card-text{
        color: #4C4C4D;
        font-size: clamp(0.875rem, 0.838rem + 0.19vw, 1rem);
    }
    &__arrow{
        margin-left: auto;
        border-radius: 6px;
        border: 1px solid #F1F1F3;
        padding: 14px;
        background-color: #FCFCFD;
    }
    &__card-content{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
.ben{
    margin-left: auto;
}